@font-face {
  font-family: "abinet";
  src: url("/fonts/Abinet_3038426dc8.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "bela_hidase";
  src: url("/fonts/Bela_Hidase_Extra_Bold_9020959aee.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "geez_digital";
  src: url("/fonts/Geez_Digital_V1_5be0497d4c.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "menbere";
  src: url("/fonts/Menbere_Variable_Font_wght_2c787a3cf0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "mesob";
  src: url("/fonts/Mesob_Regular_O_7eb0a6d47f.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "benaiah";
  src: url("/fonts/Benaiah_536454528f.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "zemach";
  src: url("/fonts/Zemach_Regular_eafc59f80a.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

